/* CSS reset */
* {
	margin:0;
	padding:0;
	list-style:none;
	vertical-align:baseline;

	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	overflow: auto;
	font-family: 'Open Sans', sans-serif;
}

body { 
  margin:0; 
  padding:0; 
  height:100%; 
  display: table;
}


#header h1{
	height: 100px;
	font-family: 'Libre Baskerville', serif;
	font-weight: 400;
	font-style: italic;
	font-size: 60pt;
	margin-bottom: 10px;
	padding-left: 15px;
}

#categorias{
	width: 200px;
	display: table-cell;
	float: left;
}

h3{
	padding: 10px;
	font-family: 'Libre Baskerville';
	font-weight: 400;
	padding-left: 30px;
	cursor: pointer; cursor: hand;
}

h2{
	padding: 10px;
	font-family: 'Libre Baskerville';
	font-size: 24pt;
	font-weight: 400;
	padding-left: 30px;
	cursor: pointer; cursor: hand;
}


#containerProdutos{
	display: table-cell;
	width: 100%;
	padding-left: 40px;
}

#intervalo{
	padding-left: 30px;
	width: 200px;
	display: table-cell;
	float: left;
}

#intervalo *{
	font-family: 'Libre Baskerville';
}


#intervalo input{
	margin-top: 10px;
	width: 20%;	
}

#carrinho{
	margin-top: 40px;
	padding-left: 0px;
	width: 200px;
	display: table-cell;
	float: left;
}

#carrinho *{
	font-family: 'Libre Baskerville';
}


.itemDiv{
	}

.nomeItem{
	font-size: 24pt;
	font-weight: 300;
	padding-left: 20px;	
}

.precoItem{
	font-size: 24pt;
	padding-left: 20px;
	font-weight: 500;	
}

.idTag {
	font-weight: 400;
	padding-left: 5px;
}

.addCarrinho{
	float: right;
	position: relative;
	top: -70px;
	padding-right: 20px;
	cursor: pointer; cursor: hand;
}

hr {
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    width: 100%;
}

#area {
	float: right;
	position: absolute;
	top: 9px;
	right: 20px;
	font-family: 'Libre Baskerviller';
	font-size: 16pt;
	cursor: pointer; cursor: hand;
}